<div class="container">

    <div class="row">
      <div class="col-md-12"></div>
      <h1>New Tweeter</h1>
    </div>
</div>

<%= render 'form', tweeter: @tweeter %>

<%= link_to 'Back', tweeters_path %>
